* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.frame { 
    background-color: #272C34;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center { 
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}

.sky { 
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7DDFFC;
    height: 124px;
    animation: sky 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.sun {
    background-color: #f9d71c;
    top: 7px;
    left: 73px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    transform-origin: 50% 400%;
    animation: sun 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.side-left { 
    position: absolute;
    top: 68px;
    left: 35px;
    height: 57px;
    width: 116px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    background-color: #F4F4F4;
    animation: pyramide-left 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.side-right { 
    position: absolute;
    top: 68px;
    left: 93px;
    height: 57px;
    width: 58px;
    background-color: #DDDADA;
    clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
    animation: pyramide-right 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.shadow {
    z-index: 2;
    background-color: rgba(0,0,0, 0.2);
    height: 30px;
    width: 360px;
    position: absolute;
    top: 124px;
    left: -80px;
    clip-path: polygon(115px 0, 231px 0, 80% 100%);
    transform-origin: 50% 0%;
    animation: shadow 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.sand { 
    background-color: #F0DE75;
    height: 56px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    animation: sand 4s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@keyframes sky { 
    0% {
        background-color: #272C34;
    }
    30% {
        background-color: #7DDFFC;
    }
    70% {
        background-color: #7DDFFC;
    }
    100% {
        background-color: #272C34;
    }
}

@keyframes sun {
    0% {
        background-color: #F57209;
        transform: rotate(-70deg)
    }
    30% {
        background-color: #ffef00;
        transform: rotate(-28deg)
    }
    70% {
        background-color: #ffef00;
    }
    100% {
        background-color: #F57209;
        transform: rotate(70deg);
    }
}

@keyframes pyramide-left { 
    0% {
        background: #272C34;
    }
    30% {
        background: #F4F4F4;
    }
    70% {
        background: #DDDADA;
    }
    100% {
        background: #272C34;
    }
}

@keyframes pyramide-right { 
    0% {
        background: #272C34;
    }
    30% {
        background: #DDDADA;
    }
    70% {
        background: #F4F4F4;
    }
    100% {
        background: #272C34;
    }
}

@keyframes shadow { 
    0% {
        transform: scaleY(0);
        clip-path: polygon(115px 0, 231px 0, 100% 100%);
    }
    30% {
        transform: scaleY(1);
        clip-path: polygon(115px 0, 231px 0, 80% 100%);
    }
    55% {
        transform: scaleY(0.4);
    }
    75% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(0);
        clip-path: polygon(115px 0, 213px 0, 0 100%);
    }
}

@keyframes sand { 
    0% {
        background-color: #272C34;
    }
    30% {
        background-color: #F0DE75;
    }
    70% {
        background-color: #F0DE75;
    }
    100% {
        background-color: #272C34;
    }
}